body{
    margin: 0rem;

}
.header{
    display: grid;
    grid-template-rows: 70% 30%;
    background: cadetblue;

}
.header_rick-morty{
    display: flex;
    font-family: Athelas;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
}
.header_nav{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 2rem;
}
.form_search{
    height: 1.7rem;
    width: 17rem;
    margin-left:0.7rem;
}
.form_label{
    font-size: large;
    font-family: sans-serif;
}
.form_button{
    height: 1.7rem;
    width: 5rem;
}

.main {
    padding: 2rem 4rem;
}
.section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

