body{
    margin: 0rem;

}
.header{
    display: grid;
    grid-template-areas: "title" "search";
}
.header_div{
    grid-area: title;
    background: powderblue;
}
.header_rick-morty{
    height: 17rem;
    width: 100%;
}
.header_nav{
    grid-area: search;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: powderblue;
}
.form_search{
    height: 1.7rem;
    width: 17rem;
    margin-left:0.7rem;
}
.form_label{
    font-size: large;
    font-family: sans-serif;
}
.form_button{
    height: 2rem;
    width: 5rem;
    border: none;
    margin-left: 1rem;
    background: white;
}

.main {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 98% 2%;
    grid-template-areas:
    "aside section"
    "pagination pagination";
}
.section{
    grid-area: section;
    padding: 4rem 8rem;
}
.section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section_img{
    display: flex;
    justify-content: center;
}
.section_info{
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.aside{
    grid-area: aside;
    padding: 2rem 2rem;
    background: white;
}
.aside_list{
    list-style: none;
}
.section_pagination{
    grid-area: pagination;
    display: flex;
    justify-content: center;
    align-items: center;

}
.aside_aplicar-filtros{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    height: 2.5rem;
    width: 14rem;
    background: powderblue;
    border:none;
}
.pagination{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.pagination li .pagination_item1{
    border: 4px solid powderblue;
}

.pagination li button{
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    border-style: none;
}

.pagination li button:hover{
    background: azure;
}
.section_title-not-found{
    font-size: xxx-large;
    font-family: serif;
    font-weight: lighter;
}
.section_image-not-found{
    border-radius: 30%;
}
.footer{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: powderblue;
}
.aside_list-1{
    list-style: none;
}
.aside_items-list1{
    display: flex;
    justify-content: center;
    margin-left: 4rem;
    padding: 1rem;
    border:none;
    height: 3rem;
    width: 12rem;
    background: aliceblue;
    margin-bottom: 1rem;
}
.aside_items-list1:hover{
    background: powderblue;
}
.aside_items-list1:visited{
    background: green;
}
.aside_item-title{
    margin-bottom: 1rem;
    padding: 1rem;
    margin-right: 2rem;
    background: aliceblue;
}
.aside_radio-item{
    border-radius: 50px;
    color: black;
    padding: 0.3em 0.6em;
    font-size: 1em;
    margin-bottom: 1rem;
}

.aside_rick\&morty{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: serif;
}
.aside_filters{
    font-size: 1.5rem;
    font-family: serif;
}

